html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Roboto",  sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto", sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }



 p {
   font-size:16px;
   line-height: 24px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }



  /* media queries */

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
    .one-half {
     width:46%;
     display:inline;
     list-style-type: none;
   }
 }
 @media (min-width: 992px) {

   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
     display:inline;
     list-style-type: none;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
.features > ul > li > div.one-fourth > img {width:109%;}

.screenshots > ul > li:nth-child(2) > ul > li > img {
   width:65%;
   box-shadow: 3px 3px 15px #888888;}
 }
 .screenshots > ul > li:nth-child(2) > ul > li:nth-child(4){text-align:left;}
 .screenshots > ul > li:nth-child(2) > ul > li:nth-child(2){text-align:left;}
.screenshots > ul > li:nth-child(2) > ul > li:nth-child(6){text-align:left;}
body > footer > div > nav { width:35%;}

 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }




 }

  /* HEADER */
 header {
   color:#FFFFFF;
   background-image: url('squirrel.png');
   background: rgb(33,43,62); /* Old browsers */
   background-image: url('squirrel.png'), -moz-linear-gradient(top, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%); /* FF3.6-15 */
   background-image: url('squirrel.png'), -webkit-linear-gradient(top, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background-image: url('squirrel.png'), linear-gradient(to bottom, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263248', endColorstr='#212b3e',GradientType=0 ); /* IE6-9 */
   height:900px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
   padding-bottom:200px;
 }
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;}

   #scroll {
    position: relative;
    margin-top: 45%;
}

  

   /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: regular;
   text-decoration: none;
   padding:10px 30px;
   background: #f8981d;
   border: 1px solid #fff;
   box-shadow: 0px 2px 0px 0px #000;
 }

 /* Features */

 .features {
    padding: 43px 0px;
}

.features > ul > h2 {
    color: #7e8aa2;
    margin-bottom: 30px;
}

.features > ul > h2 > img { 
   width: 30px;
   padding-left:5px;}

 .feature > p {margin-top:-15px;}
 

.features > ul > li{
   display:inline;
}
.features > ul > li:nth-child(2) {
   border-bottom: 1px #eee solid;
}

.features > ul > li:nth-child(3) {
   border-bottom: 1px #eee solid;
}



 /* screenshots */

.screenshots {
    background-color: #f3f4f7;
    padding: 68px 0px;
}

.screenshots > div > h2 {
    text-align: center;
    color: #263248;
    font-weight: 200;
}

.screenshots > ul > li:nth-child(1) > img {width:114%;}

.screenshots > ul > div > ul > li > img {
    width:49%;
    margin:0 auto;
    box-shadow: 3px 3px 15px #888888; /* Centres page */
}

.screenshots > ul > div > ul{
    width:100%;
    padding-bottom:2.5%;
    list-style-type: none;
    float:left;
    display:inline-block;
}

.screenshots > ul > div > ul > li {
    width: 45%;
    margin: 3.5% -71px 0 2.5%;
    float: left;
    position: relative; /* Needed for z-indexing later */
}

/*----------------------------------------
   Gallery thumbnails
-----------------------------------------*/
.gal-4 li {
   -moz-transition:all 1s ease;
   -webkit-transition:all 1s ease;
   -o-transition:all 1s ease;
   -ms-transition:all 1s ease;
   transition:all 1s ease;
}

.gal-4 li:hover {
   -moz-transform:scale(3.8) translate(-57px, 46px);
   -webkit-transform:scale(3.8) translate(-57px, 46px);
   -o-transform:scale(3.8) translate(-57px, 46px);
   -ms-transform:scale(3.8) translate(-57px, 46px);
   transform:scale(3.8) translate(-57px, 46px);
   z-index:2;
}

.gal-4 li:nth-of-type(2):hover {
   -moz-transform:scale(2.6) translate(0, 22px);
   -webkit-transform:scale(2.6) translate(0, 22px);
   -o-transform:scale(2.6) translate(0, 22px);
   -ms-transform:scale(2.6) translate(0, 22px);
   transform:scale(3.8) translate(-57px, 46px);
}

.gal-4 li:nth-of-type(3):hover {
   -moz-transform:scale(2.6) translate(-152px, 22px);
   -webkit-transform:scale(2.6) translate(-152px, 22px);
   -o-transform:scale(2.6) translate(-152px, 22px);
   -ms-transform:scale(2.6) translate(-152px, 22px);
   transform:scale(2.6) translate(-152px, 22px);
}

.gal-4 li:nth-of-type(4):hover {
   -moz-transform:scale(2.6) translate(52px, -22px);
   -webkit-transform:scale(2.6) translate(52px, -22px);
   -o-transform:scale(2.6) translate(52px, -22px);
   -ms-transform:scale(2.6) translate(52px, -22px);
   transform:scale(2.6) translate(52px, -22px);
}

.gal-4 li:nth-of-type(5):hover {
   -moz-transform:scale(2.6) translate(0, -22px);
   -webkit-transform:scale(2.6) translate(0, -22px);
   -o-transform:scale(2.6) translate(0, -22px);
   -ms-transform:scale(2.6) translate(0, -22px);
   transform:scale(2.6) translate(0, -22px);
}

.gal-4 li:nth-of-type(6):hover {
   -moz-transform:scale(2.6) translate(-52px, -22px);
   -webkit-transform:scale(2.6) translate(-52px, -22px);
   -o-transform:scale(2.6) translate(-52px, -22px);
   -ms-transform:scale(2.6) translate(-52px, -22px);
   transform:scale(2.6) translate(-52px, -22px);
}

/* Testimonials */

section.testimonials {
   background: #000000 url('../images/testimonial.png') top center no-repeat;
   height: 500px;
   background-size: cover;
}
.testimonials > div > div > blockquote {
   color:#fff;
   text-shadow: 1px 1px #000000;
   line-height: 24px;
   font-family: "Roboto";
   font-weight: 300;
   margin-top: 70px;
}

.testimonials > div > div > p {
       font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    color:#fff;
    text-align: right;
    text-shadow: 1px 1px #000000;}

}






/* Pricing */

.pricing {
   background: #7e8aa2;
   text-align: center;
   padding:4em 0;
 }
 
 .pricing h2 {
    margin-top: 60px;
}

    .pricing h2, .pricing p {
    color: #000;
    font-weight: 200;
    text-align: center;
}
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
   margin-bottom:30px;
 }
 .pricing ul li {
   list-style-type: none;
   line-height: 30px;
       text-align: center;

 }

 .box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }
 .box h3 {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   font-weight: 300;
   color:#fff;
   text-transform: uppercase;
   background: #263248;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;
 }

 .box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#7e8aa2;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }

 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }

 /* Footer */

 footer {
   background-color: #263248;
   background-image: inear-gradient(to bottom, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%);
   color: #FFFFFF;
   height: 94px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
    background-color: #7e8aa2;
    width: 129px;
    margin-left: 234px;
 }
footer .logo {
    padding: 12px;
    /* margin: 0 auto; */
    display: block;
    width: 42%;
    margin: auto;
}








