html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Roboto",  sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto", sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }



 p {
   font-size:16px;
   line-height: 24px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }



  /* media queries */

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

  /* HEADER */
 header {
   color:#FFFFFF;
   background-image: url('squirrel.png');
   background: rgb(33,43,62); /* Old browsers */
   background-image: url('squirrel.png'), -moz-linear-gradient(top, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%); /* FF3.6-15 */
   background-image: url('squirrel.png'), -webkit-linear-gradient(top, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background-image: url('squirrel.png'), linear-gradient(to bottom, rgba(38,50,72,1) 0%, rgba(33,43,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263248', endColorstr='#212b3e',GradientType=0 ); /* IE6-9 */
   height:1024px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
 }
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;}

   #scroll {
    position: relative;
    margin-top: 34%;
}

  

   /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: regular;
   text-decoration: none;
   padding:10px 30px;
   background: #f8981d;
   border: 1px solid #fff;
   box-shadow: 0px 2px 0px 0px #000;
 }

 /* Features */

body > main > section.features > ul > h2 {
    color: #7e8aa2;
    margin-bottom: 30px;
}

 body > main > section.features > ul > h2 > img { 
   width: 30px;
   padding-left:5px;}

 .feature > p {margin-top:-15px;}
 
body > main > section.features > ul > li:nth-child(2) > div.one-fourth > img {width:109%;}
body > main > section.features > ul > li:nth-child(3) > div.one-fourth > img {width:109%;}
body > main > section.features > ul > li:nth-child(4) > div.one-fourth > img {width:109%;}
body > main > section.features > ul > li:nth-child(5) > div.one-fourth > img {width:109%;}


body > main > section.features > ul > li:nth-child(2) {
   display:inline;
   border-bottom: 1px #eee solid;
}

body > main > section.features > ul > li:nth-child(3) {
   display:inline;
   border-bottom: 1px #eee solid;
}
body > main > section.features > ul > li:nth-child(4) {
   display:inline;
}
body > main > section.features > ul > li:nth-child(5) {
   display:inline;
}















